body {
    font-family: var(--content-font);
}

h1 {
    /*background-color: red;*/
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--content-headings);
}

header p {
    text-align: center;
}