footer {
  background-color: color(third);
  width: $main-width;
  height: 50px;
  @include center-flex;
  margin-top: 0.5em;

  p {
    font-family: font(third);
    font-size: 15px;
    padding: 5px;
  }

  p:nth-child(1) {
    color: color(white);

    &:hover {
      color: color(hover-color);

      &::after {
        content: "+";
      }
    }
  }

  p:nth-child(2) {
    color: color(red);
  }
}