$colors: (
        primary: #333,
        secondary: whitesmoke,
        third: #275468,
        white: white,
        red: red,
        hover-color: #FFC701
);

$fonts: (
        primary: (Verdana),
        secondary: (Helvetica),
        third: (Georgia,sans-serif)
);

$main-width: 150px;
$main-height: 150px;