main {
    padding: 1.5em 5em 1.5em 5em;
}

.main-container {
    min-height: 2em;
}

.main-section-1 ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.main-section-1 ul li {
    width: 23.5%;
    padding: 0em 0em 1.5em 0em;
}

.main-section-1 ul li img {
    width: 100%;
    height: 18em;
}


.main-section-2 {
    height: 30em;
    /*background-color: whitesmoke;*/
    margin-bottom: 1.5em;
    display: flex;
}

.main-section-2 section {
    padding-top: 3em;
}

.main-section-2 img {
    width: 65%;
    height: inherit;
    margin-left: auto;
}

.text-orange {
    font-size: 2.5em;
    color: #F93700;
    padding-bottom: 0.5em;
}

.main-section-2 section p {
    padding-bottom: 1em;
}

.main-section-2 section button {
    color: white;
    margin-top: 1em;
    padding: 0.7em;
    border: none;
    background-color: #F93700;
    border-radius: 0.3em;
}


.main-section-3 {
    height: 18em;
    background-color: #CAC3C3;
}

.main-section-3 ul {
    display: flex;
    justify-content: center;
    padding: 2em 1em 2em 1em;
}

.main-section-3 ul li {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 20em;
    text-align: center;
}

.main-section-3 ul li img {
    width: 9.5em;
    height: 9.5em;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 50%;
}

.main-section-3 ul li p.bold {
    font-weight: bold;
    font-size: 20px;
}